
// MAIN HEADER ****

header {
	height: 100vh;
	background-color: $backgroundColour;
	.hero {
		margin: 0 auto;
		position: relative;
		height: 80vh;
		overflow: hidden;
		.hero_text {
			position: absolute;
			bottom: 25%;
			margin-left: 5.5rem;
			h1 {
				position: relative;
				@include headingText (5.2rem);
				letter-spacing: 0.6rem;
				z-index: 10;
				&:before {
					content:"";
					display: block;
					width: 55%;
					height: 7.5rem;
					right: 5%;
					bottom: -100%;
					position: absolute;
					background: $secondaryColour;
					z-index: -1;
				}
			}
			.subtitle {
				@include headingText (3rem);
				font-weight: 300;
				line-height: 44px;
				text-align: right;
			}
		}
		.hero_image {
			max-width: 100%;
		}
		.hero_image-responsive {
			display: none;
		}
	}
}



// MEDIA QUERIES ****

@media (max-width: 940px) {
	header {
		.wrapper {
			max-width:800px;
			.hero {
				max-width: 100%;
				.hero_text {
					h1 {
						font-size: 4rem;
					}
					.subtitle {
						font-size: 2.3rem;
					}
				}
			}
		}
	}
}


@media (max-width: 768px) {
	header {
		.wrapper {
			max-width: 628px;
			.hero {
				max-width: 100%;
				position: relative;
				.hero_image {
					display: none;
				}
				.hero_image-responsive {
					display: block;
					width: 50%;
					margin: 0;
					position: absolute;
					right: 0;
					top: 25%;
				}
				.hero_text {
					width: 50%;
					bottom: 40%;
					background: #F4F4F4;
					margin:0;
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 1.5rem;
					padding-left: 2rem;
					box-shadow: 150px 65px 0 $secondaryColour;
					h1 {
						font-size: 3.4rem;
						line-height: 4.2rem;
						&:before {
							display: none;
						}
					}
					.subtitle {
						font-size: 2rem;
						text-align: left;
					}
				}
			}
		}
	}
}


@media (max-width: 660px) {
	header {
		.wrapper {
			max-width: 520px;
			.hero {
				width: 660px;
			}
		}
	}
}


@media (max-width: 535px) {
	.wrapper {
		max-width: 340px;
	}
}





