
// PORTFOLIO ****
#portfolio {
	padding-top: 10rem;
	.main-content {
		margin-top: 2rem;
		@include bodyText (400);
	}
}
.nav_portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 45%;
	margin-top: 7.5rem;
	margin-bottom: 5rem;
	li {
		cursor: pointer;
		font-family: $bodyFont;
		font-size: 1.8rem;
		font-weight: 300;
		padding: 1rem;
		letter-spacing: 0.2rem;
		transition: all 0.3s ease;
		&:hover {
			background: $secondaryColour;
		}
		&:first-child {
			background: $secondaryColour;
			cursor: default;
		}
		span {
			display: block;
			width: 2.5rem;
			height: 0.4rem;
			background: $headingColour;
			border-radius: 0.2rem;
			margin-bottom: 0.4rem;
		}
	}
}
.active {
	background: $secondaryColour;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.gallery_item {
		margin: 2rem;
		width: calc(33.3% - 4rem);
		position: relative;
		// &:nth-child(1n+3), &:nth-child(n){
		// 	margin-left: 0;
		// }
		// &:nth-child(3n+3), &:last-child{
		// 	margin-right: 0;
		// }
		// &:nth-last-of-type(-n+6){
		// 	margin-top: 0;
		// }
		// &:nth-last-of-type(-n+3){
		// 	margin-bottom: 0;
		// }
		img {
			max-width: 100%;
		}
		&:hover .gallery_item--overlay {
			visibility: visible;
		}
	}
	.gallery_item--overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		visibility: hidden;
		background: rgba(123,238,199,0.7);
		border: 0.2rem solid $headingColour;
		text-transform: uppercase;
		font-family: $bodyFont;
		letter-spacing: 0.1rem;
		.gallery_item--expand {
			margin: 0 auto;
			width: 15%;
			span {
				width: 100%;
				height: 2px;
				display: block;
				background: $headingColour;
				&:last-child {
					transform: rotate(90deg);
				}
			}
		}
		p {
			margin: 0;
		}
		.gallery_item--likes, .gallery_item--caption p:last-child {
			font-size: 1.4rem;
		}
		.gallery_item--caption p:first-child {
			font-size: 1.8rem;
		}
		.gallery_item--likes, .gallery_item--caption {
			padding: 2rem;
		}
		.gallery_item--likes {
			width: 25%;
		}
		.gallery_item--likes .fa{
			margin-left: 0.3rem;
			cursor: pointer;
		}
		.gallery_item--likes .fa-heart-o {
			&:hover ~ .fa-heart {
				display: inline-block;
			}
		}
		.gallery_item--likes .fa-heart {
			display: none;
		}
	}
}
