$headingFont: 'Raleway', Helvetica, arial, sans-serif;
$bodyFont: 'Ubuntu', Helvetica, arial, sans-serif;

$headingColour: #111111;
$mainColour: #383838;
$secondaryColour: #7beec7;
$backgroundColour: #FCFCFC;